---
layout: default
---

{% if paginator.page == 1%}
<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-md-4 pr-md-4">
            <div class="slide-background" style="background-image: url(/assets/img/screenshot_main.png)"></div>
            <div class="carousel-text-overlay">
                <h1>RKWard</h1>
                <p>RKWard is an easy to use and easily extensible IDE/GUI for R.</p>
                <p><b><a href="About.html">Learn more</a></b></p>
                <h1>Download RKWard 0.8.0</h1>
                <p>for <b><a href="RKWard_on_Mac.html">macOS</a></b>&nbsp;|&nbsp;<b><a href="RKWard_on_Windows.html">Windows</a></b>&nbsp;|&nbsp;<b><a href="Download_RKWard.html">GNU/Linux</a></b></p>
            </div>
        </div>
    </div>
</section>
{% endif %}

<main aria-label="Content" id="content" class="container">
    <div class="main">
        <div>
            <h2>Current News</h2>
            {% capture dummy_include %}{% include 2024_07_28_announce_0.8.0_teaser.md %}{% endcapture %}
            {{ dummy_include | markdownify }}
            <a href="News.html">Read more...</a>
        </div>
        <div>
            <h2>You can help</h2>
            <p>RKWard is developed by a community of volunteers, working on the project in their free time. Many tasks do not require programming knowledge. <a href="/Developer_Information.html">Find out, what you can do to help the project</a>.</p>
        </div>
        <div>
            <h2>Getting started</h2>
            <p>New to RKWard? Check out our online <a href="/User_Documentation.html">user documentation</a>.</p>
        </div>
        <div>
            <h2>Getting in contact</h2>
            <p>Need more help? You have feedback to share? You want to stay up to date on the latest development? Don't hestiate to <a href="Contact.html">contact us</a>.</p>
        </div>
    </div>
</main>
